[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/omniavinco/glew-cmake.git
	ignore = dirty
[submodule "libs/luajit"]
	path = libs/luajit
	url = https://github.com/LuaDist/luajit.git
